/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/nbdist/
/.nb-gradle/

### 前端使用的一些框架，不上传，后续会整改应用方式 先将现基础的打包上传###
src/main/resources/static/bower_components/Flot
src/main/resources/static/bower_components/
src/main/resources/static/build/
src/main/resources/static/dist/
src/main/resources/static/plugins/
mvnw
.mvn/wrapper
mvnw.cmd
